<template>
  <nav class="navbar orange lighten-1">
    <div class="nav-wrapper">
      <div class="navbar-left">
        <a href="#" @click.prevent="$emit('clicks')">
          <i class="material-icons black-text">dehaze</i>
        </a>
        <span class="black-text">{{ date }}</span>
      </div>

      <ul class="right hide-on-small-and-down">
        <li>
          <a class="dropdown-trigger black-text" href="#" data-target="dropdown" ref="dropdown">
            USER NAME
            <i class="material-icons right">arrow_drop_down</i>
          </a>

          <ul id='dropdown' class='dropdown-content'>
            <li>
              <router-link :to="{ name: 'profile'}" class="black-text">
                <i class="material-icons">account_circle</i>Профиль
              </router-link>
            </li>

            <li class="divider" tabindex="-1"></li>
            <li>
              <a @click.prevent="logout" class="black-text">
                <i class="material-icons">assignment_return</i>Выйти
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>

import dateFilter from "@/filters/date.filter";
import store from "@/store";
export default {
  name: 'NavbarView',

  data(){
    return{
      date: dateFilter(new Date(), 'datetime'),
      interval: null,
      dropdown: null
    }
  },

  mounted() {
    this.interval = setInterval(()=>{
      this.date = dateFilter(new Date(), 'datetime')

    }, 1000)

    this.dropdown = window.M.Dropdown.init(this.$refs.dropdown, {
      constrainWidth: true
    })
  },

  methods: {
    logout(){
      console.log('logout')
      store.dispatch('logout')
    }
  },

  beforeUnmount() {
    console.log('before destroy')
    clearInterval(this.interval)
    if(this.dropdown && this.dropdown.destroy){
      this.dropdown.destroy()
    }
  }
}
</script>

<style scoped lang="scss">

</style>