<template>
  <form class="card auth-card" @submit.prevent="onSubmit">
    <div class="card-content">
      <span class="card-title">Домашняя бухгалтерия</span>
      <div class="input-field">
        <input
            id="email"
            type="text"
            class="validate"
            v-model="state.email"
            :class="{invalids: v$.email.$error}"
        >
        <label for="email">Email</label>
        <small class="helper-text invalid" v-if="v$.email.$error">
          {{ v$.email.$errors[0].$message }}
        </small>

      </div>
      <div class="input-field">
        <input
            id="password"
            type="password"
            class="validate"
            v-model="state.password"
            :class="{invalids: v$.password.$error}"
        >
        <label for="password">Пароль</label>
        <small class="helper-text invalid" v-if="v$.password.$error">
          {{ v$.password.$errors[0].$message }}
        </small>
      </div>
    </div>

<!--    <p v-if="store.state.error">Ошибка</p>-->
    <div class="card-action">
      <div>
        <button
            class="btn waves-effect waves-light auth-submit"
            type="submit"
        >
          Войти
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Нет аккаунта?
        <router-link :to="{ name: 'register' }" href="#">Зарегистрироваться</router-link>
      </p>
    </div>
  </form>
</template>

<script>

import {required, email, minLength, helpers} from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import { reactive, computed } from "vue";

import messages from "@/utils/messages";

export default {
  name: 'LoginView',

  setup () {
    const state = reactive({
      email: '',
      password: '',
    })

    const rules = computed(()=>{
      return {
        email: {
          email: helpers.withMessage(messages.error_email, email),
          required: helpers.withMessage(messages.error_required, required)
        }, // Matches this.firstName
        password: {
          required: helpers.withMessage(messages.error_required, required),
          minLength: helpers.withMessage(
              ({
                 $invalid,
                 $params,
                 $model
               }) => `Это поле имеет значение '${$model}' но должен иметь минимальную длину ${$params.min} так оно и есть ${$invalid ? 'invalid' : 'valid'}`,
              minLength(6)
          )

        }, // Matches this.lastName
      }
    })

    const v$ = useVuelidate(rules, state)

    return {
      state,
      v$
    }
  },

  mounted() {
    if(messages[this.$route.query.message]){
      this.$message(messages[this.$route.query.message])
    }
  },

  methods: {
    onSubmit(){
      if(this.v$.$invalid){
        this.v$.$touch()
        return
      }

      // eslint-disable-next-line
      const formData = {
        email: this.state.email,
        password: this.state.password,
      }

      console.log($store)
      // $store.dispatch('login', formData)
    }
  }
}
</script>
