<template>
  <form class="card auth-card" @submit.prevent="onSubmit">
    <div class="card-content">
      <span class="card-title">Домашняя бухгалтерия</span>
      <div class="input-field">
        <input
            id="name"
            type="text"
            class="validate"
            v-model="state.name"
            :class="{invalids: v$.name.$error}"
        >
        <label for="name">Имя</label>
        <small class="helper-text invalid" v-if="v$.name.$error">
          {{ v$.name.$errors[0].$message }}
        </small>
      </div>

      <div class="input-field">
        <input
            id="email"
            type="text"
            class="validate"
            v-model="state.email"
            :class="{invalids: v$.email.$error}"
        >
        <label for="email">Email</label>
        <small class="helper-text invalid" v-if="v$.email.$error">
          {{ v$.email.$errors[0].$message }}
        </small>

      </div>
      <div class="input-field">
        <input
            id="password"
            type="password"
            class="validate"
            v-model="state.password"
            :class="{invalids: v$.password.$error}"
        >
        <label for="password">Пароль</label>
        <small class="helper-text invalid" v-if="v$.password.$error">
          {{ v$.password.$errors[0].$message }}
        </small>
      </div>
      <p>
        <label :class="{invalid: v$.approval.$error}">
          <input type="checkbox" v-model="state.approval" />
          <span>С правилами согласен</span>
        </label>
      </p>
    </div>
    <div class="card-action">
      <div>
        <button
            class="btn waves-effect waves-light auth-submit"
            type="submit"
        >
          Зарегистрироваться
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Уже есть аккаунт?
        <router-link :to="{ name: 'login' }" href="#">Войти!</router-link>
      </p>
    </div>
  </form>
</template>

<script>
import {required, email, minLength, helpers} from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import { reactive, computed } from "vue";
import messages from "@/utils/messages";
import store from "@/store";
export default {
  name: 'RegisterView',

  setup () {
    const state = reactive({
      email: '',
      password: '',
      name: '',
    })

    const rules = computed(()=>{
      return {
        email: {
          email: helpers.withMessage(messages.error_email, email),
          required: helpers.withMessage(messages.error_required, required)
        }, // Matches this.firstName
        password: {
          required: helpers.withMessage(messages.error_required, required),
          minLength: helpers.withMessage(
              ({
                 $invalid,
                 $params,
                 $model
               }) => `Это поле имеет значение '${$model}' но должен иметь минимальную длину ${$params.min} так оно и есть ${$invalid ? 'invalid' : 'valid'}`,
              minLength(6)
          )

        },
        name: {
          required: helpers.withMessage(messages.error_required, required),
          minLength: helpers.withMessage(
              ({
                 $invalid,
                 $params,
                 $model
               }) => `Это поле имеет значение '${$model}' но должен иметь минимальную длину ${$params.min} так оно и есть ${$invalid ? 'invalid' : 'valid'}`,
              minLength(3)
          )
        },
        approval: {
          required: helpers.withMessage(messages.error_required, required),
        },
      }
    })

    const v$ = useVuelidate(rules, state)

    return {
      state,
      v$
    }
  },

  methods: {
    onSubmit(){
      if(this.v$.$invalid){
        this.v$.$touch()
        return
      }

      const formData = {
        email: this.state.email,
        password: this.state.password,
        name: this.state.name
      }

      store.dispatch('register', formData)
    }
  }
}
</script>

<style>
.invalid{
  color: red;
}
</style>
