<template>
    <div class="grey darken-1 empty-layout">
      <router-view></router-view>
    </div>
</template>

<script>
import store from "@/store";
export default{
  name: 'EmptyLayout',

  computed: {
    error(){
      return store.getters.error()
    }
  },

  watch:{
    // error(Error){
    //   console.log(Error)
    // }
  }
}
</script>