<template>

  <div class="app-main-layout">
    <navbar-view @clicks="isOpen = !isOpen"></navbar-view>

    <sidebar-view v-bind:isOpen="isOpen"></sidebar-view>

    <main class="app-content" :class="{ full: isOpen }">
      <router-view></router-view>
    </main>

    <div class="fixed-action-btn">
      <router-link :to="{ name: 'record' }" class="btn-floating btn-large blue" href="#">
        <i class="large material-icons">add</i>
      </router-link>
    </div>
  </div>

</template>

<script>
import SidebarView from "@/components/app/SidebarView.vue";
import NavbarView from "@/components/app/NavbarView.vue";
import store from "@/store";

export default{
  name: 'MainLayout',
  components: {NavbarView, SidebarView},

  data(){
    return {
      isOpen: true
    }
  },

  async mounted() {
    if (!Object.keys(store.getters.info).length){
      let test = await store.dispatch('fetchInfo')
      console.log(test)
    }
  }
}
</script>